In [1]:
import matplotlib.pyplot as plt
import pandas as pd
import numpy as np
import pickle

In [2]:
raw_data=pd.read_csv('database.csv')

In [3]:
raw_data

,Date,Time,Latitude,Longitude,Type,Depth,Depth Error,Depth Seismic Stations,Magnitude,Magnitude Type,...,Magnitude Seismic Stations,Azimuthal Gap,Horizontal Distance,Horizontal Error,Root Mean Square,ID,Source,Location Source,Magnitude Source,Status
0,01/02/1965,13:44:18,19.2460,145.6160,Earthquake,131.60,NaN,NaN,6.0,MW,...,NaN,NaN,NaN,NaN,NaN,ISCGEM860706,ISCGEM,ISCGEM,ISCGEM,Automatic
1,01/04/1965,11:29:49,1.8630,127.3520,Earthquake,80.00,NaN,NaN,5.8,MW,...,NaN,NaN,NaN,NaN,NaN,ISCGEM860737,ISCGEM,ISCGEM,ISCGEM,Automatic
2,01/05/1965,18:05:58,-20.5790,-173.9720,Earthquake,20.00,NaN,NaN,6.2,MW,...,NaN,NaN,NaN,NaN,NaN,ISCGEM860762,ISCGEM,ISCGEM,ISCGEM,Automatic
3,01/08/1965,18:49:43,-59.0760,-23.5570,Earthquake,15.00,NaN,NaN,5.8,MW,...,NaN,NaN,NaN,NaN,NaN,ISCGEM860856,ISCGEM,ISCGEM,ISCGEM,Automatic
4,01/09/1965,13:32:50,11.9380,126.4270,Earthquake,15.00,NaN,NaN,5.8,MW,...,NaN,NaN,NaN,NaN,NaN,ISCGEM860890,ISCGEM,ISCGEM,ISCGEM,Automatic
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
23407,12/28/2016,08:22:12,38.3917,-118.8941,Earthquake,12.30,1.2,40.0,5.6,ML,...,18.0,42.47,0.120,NaN,0.1898,NN00570710,NN,NN,NN,Reviewed
23408,12/28/2016,09:13:47,38.3777,-118.8957,Earthquake,8.80,2.0,33.0,5.5,ML,...,18.0,48.58,0.129,NaN,0.2187,NN00570744,NN,NN,NN,Reviewed
23409,12/28/2016,12:38:51,36.9179,140.4262,Earthquake,10.00,1.8,NaN,5.9,MWW,...,NaN,91.00,0.992,4.8,1.5200,US10007NAF,US,US,US,Reviewed
23410,12/29/2016,22:30:19,-9.0283,118.6639,Earthquake,79.00,1.8,NaN,6.3,MWW,...,NaN,26.00,3.553,6.0,1.4300,US10007NL0,US,US,US,Reviewed
23411,12/30/2016,20:08:28,37.3973,141.4103,Earthquake,11.94,2.2,NaN,5.5,MB,...,428.0,97.00,0.681,4.5,0.9100,US10007NTD,US,US,US,Reviewed

In [4]:
raw_data.describe(include='all')

,Date,Time,Latitude,Longitude,Type,Depth,Depth Error,Depth Seismic Stations,Magnitude,Magnitude Type,...,Magnitude Seismic Stations,Azimuthal Gap,Horizontal Distance,Horizontal Error,Root Mean Square,ID,Source,Location Source,Magnitude Source,Status
count,23412,23412,23412.000000,23412.000000,23412,23412.000000,4461.000000,7097.000000,23412.000000,23409,...,2564.000000,7299.000000,1604.000000,1156.000000,17352.000000,23412,23412,23412,23412,23412
unique,12401,20472,NaN,NaN,4,NaN,NaN,NaN,NaN,10,...,NaN,NaN,NaN,NaN,NaN,23412,13,48,24,2
top,03/11/2011,14:09:03,NaN,NaN,Earthquake,NaN,NaN,NaN,NaN,MW,...,NaN,NaN,NaN,NaN,NaN,ISCGEM817909,US,US,US,Reviewed
freq,128,5,NaN,NaN,23232,NaN,NaN,NaN,NaN,7722,...,NaN,NaN,NaN,NaN,NaN,1,20630,20350,10458,20773
mean,NaN,NaN,1.679033,39.639961,NaN,70.767911,4.993115,275.364098,5.882531,NaN,...,48.944618,44.163532,3.992660,7.662759,1.022784,NaN,NaN,NaN,NaN,NaN
std,NaN,NaN,30.113183,125.511959,NaN,122.651898,4.875184,162.141631,0.423066,NaN,...,62.943106,32.141486,5.377262,10.430396,0.188545,NaN,NaN,NaN,NaN,NaN
min,NaN,NaN,-77.080000,-179.997000,NaN,-1.100000,0.000000,0.000000,5.500000,NaN,...,0.000000,0.000000,0.004505,0.085000,0.000000,NaN,NaN,NaN,NaN,NaN
25%,NaN,NaN,-18.653000,-76.349750,NaN,14.522500,1.800000,146.000000,5.600000,NaN,...,10.000000,24.100000,0.968750,5.300000,0.900000,NaN,NaN,NaN,NaN,NaN
50%,NaN,NaN,-3.568500,103.982000,NaN,33.000000,3.500000,255.000000,5.700000,NaN,...,28.000000,36.000000,2.319500,6.700000,1.000000,NaN,NaN,NaN,NaN,NaN
75%,NaN,NaN,26.190750,145.026250,NaN,54.000000,6.300000,384.000000,6.000000,NaN,...,66.000000,54.000000,4.724500,8.100000,1.130000,NaN,NaN,NaN,NaN,NaN
max,NaN,NaN,86.005000,179.998000,NaN,700.000000,91.295000,934.000000,9.100000,NaN,...,821.000000,360.000000,37.874000,99.000000,3.440000,NaN,NaN,NaN,NaN,NaN

In [5]:
# date, time, Latitude, longitude, type, mag, type, id, source, location source, Mag source, Status
data= raw_data.drop(['Time','Date', 'Type','Magnitude Type' , 'ID','Source','Location Source','Magnitude Source','Status'],axis=1)

In [6]:
data.head()

,Latitude,Longitude,Depth,Depth Error,Depth Seismic Stations,Magnitude,Magnitude Error,Magnitude Seismic Stations,Azimuthal Gap,Horizontal Distance,Horizontal Error,Root Mean Square
0,19.246,145.616,131.6,NaN,NaN,6.0,NaN,NaN,NaN,NaN,NaN,NaN
1,1.863,127.352,80.0,NaN,NaN,5.8,NaN,NaN,NaN,NaN,NaN,NaN
2,-20.579,-173.972,20.0,NaN,NaN,6.2,NaN,NaN,NaN,NaN,NaN,NaN
3,-59.076,-23.557,15.0,NaN,NaN,5.8,NaN,NaN,NaN,NaN,NaN,NaN
4,11.938,126.427,15.0,NaN,NaN,5.8,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
data.isnull().sum()

Latitude                          0
Longitude                         0
Depth                             0
Depth Error                   18951
Depth Seismic Stations        16315
Magnitude                         0
Magnitude Error               23085
Magnitude Seismic Stations    20848
Azimuthal Gap                 16113
Horizontal Distance           21808
Horizontal Error              22256
Root Mean Square               6060
dtype: int64

In [8]:
data1= data.drop(['Horizontal Distance','Horizontal Error','Magnitude Error','Azimuthal Gap','Depth Error','Magnitude Seismic Stations','Depth Seismic Stations','Root Mean Square'],axis=1)

In [9]:
data1.describe()

           Latitude     Longitude         Depth     Magnitude
count  23412.000000  23412.000000  23412.000000  23412.000000
mean       1.679033     39.639961     70.767911      5.882531
std       30.113183    125.511959    122.651898      0.423066
min      -77.080000   -179.997000     -1.100000      5.500000
25%      -18.653000    -76.349750     14.522500      5.600000
50%       -3.568500    103.982000     33.000000      5.700000
75%       26.190750    145.026250     54.000000      6.000000
max       86.005000    179.998000    700.000000      9.100000

In [10]:
data1.isnull().sum()

Latitude     0
Longitude    0
Depth        0
Magnitude    0
dtype: int64

In [11]:
new_data=data1.sample(frac=1).reset_index(drop=True)

In [12]:
x=new_data.drop(['Magnitude','Depth'],axis=1)
y=new_data[['Magnitude','Depth']]

In [13]:
from sklearn.model_selection import train_test_split as tts

In [14]:
train_x,test_x,train_y,test_y=tts(x,y,random_state=10,train_size=0.75,test_size=0.25)

In [15]:
from sklearn.metrics import r2_score

In [16]:
from sklearn.ensemble import RandomForestRegressor

reg = RandomForestRegressor(random_state=42)
reg.fit(train_x, train_y)
k=reg.predict(test_x)

In [17]:
reg.score(test_x,test_y)

C:\Users\Saarthak\anaconda3\lib\site-packages\sklearn\base.py:434: FutureWarning: The default value of multioutput (not exposed in score method) will change from 'variance_weighted' to 'uniform_average' in 0.23 to keep consistent with 'metrics.r2_score'. To specify the default value manually and avoid the warning, please either call 'metrics.r2_score' directly or make a custom scorer with 'metrics.make_scorer' (the built-in scorer 'r2' uses multioutput='uniform_average').
  "multioutput='uniform_average').", FutureWarning)

0.858336543259724

In [18]:
pickle.dump(reg, open('model.pkl','wb'))

#Loading model to compare the results
model = pickle.load(open('model.pkl','rb'))
print(model.predict([[2, 9]]))

[[ 5.813 18.996]]